.cm-content {
    font-size: 14px;
    background: #131417;
    z-index: -2;
    outline: none;
    border: none;
}

.cm-theme,
.cm-editor {
    border: none;
    outline: none;
}

.cm-gutter {
    font-size: 14px;
    background: #131417;
}